americano-tournaments.web/src/styles/tailwind.css
.netlify/*
.vscode/launch.json
americano-tournaments.api/ClientApp/.gitignore
americano-tournaments.api/ClientApp/package-lock.json
americano-tournaments.api/ClientApp/package.json
americano-tournaments.api/ClientApp/README.md
americano-tournaments.api/ClientApp/public/favicon.ico
americano-tournaments.api/ClientApp/public/index.html
americano-tournaments.api/ClientApp/public/manifest.json
americano-tournaments.api/ClientApp/src/App.js
americano-tournaments.api/ClientApp/src/App.test.js
americano-tournaments.api/ClientApp/src/custom.css
americano-tournaments.api/ClientApp/src/index.js
americano-tournaments.api/ClientApp/src/registerServiceWorker.js
americano-tournaments.api/ClientApp/src/components/Counter.js
americano-tournaments.api/ClientApp/src/components/FetchData.js
americano-tournaments.api/ClientApp/src/components/Home.js
americano-tournaments.api/ClientApp/src/components/Layout.js
americano-tournaments.api/ClientApp/src/components/NavMenu.css
americano-tournaments.api/ClientApp/src/components/NavMenu.js


