# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - americano-tournaments

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "3.1.102"

      - name: Build with dotnet
        run: dotnet build .\americano-tournaments.api\americano-tournaments.api.csproj --configuration Release

      - name: dotnet publish
        run: dotnet publish .\americano-tournaments.api\americano-tournaments.api.csproj -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v1
        with:
          app-name: "americano-tournaments"
          slot-name: "production"
          publish-profile: ${{ secrets.AzureAppService_PublishProfile_ba6a67616f5c49be97f576ac5509c8d2 }}
          package: ${{env.DOTNET_ROOT}}/myapp
